name: Build

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
      - 'jitpack.yml'
      - '.gitignore'
      - 'LICENSE'
      - '**.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
      - 'jitpack.yml'
      - '.gitignore'
      - 'LICENSE'
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew :gradle-plugin:build :processor:build :core:build -Pbootstrap=true
